.nav-showcase{
    background: lightpink; 
    display: flex; 
    flex-direction: column;   
    justify-content: space-around;  
    background: url(/imgs/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg) no-repeat center center/cover;

} 

.nav-wrap{ 
    position: absolute;
    background: rgba(41, 34, 27, .65); 
    width: 100%;  
    height: 45vh;
    z-index: 1;

}

#nav-container{
    /* background: lightgoldenrodyellow;  */
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    height: 22.5vh; 
    color: white;
} 

#nav-bar{
    display: flex; 
    z-index: 2;
} 

.nav-item{
   
    color: white;
}

.nav-header{
    display: flex; 
    flex-direction: column;  
    align-items: center; 
    justify-content: center;
    /* background: lightgreen;  */
    height: 22.5vh;  
    color: white;
} 
.nav-header span{
    display: inline-block;
}

.nav-header h1{
    margin: 1.2rem 1.2rem;
}