/* universal styling */
:root{
    --primary-color: rgba(41, 34, 27, .65); 
}

*{
    text-decoration: none; 
    list-style: none;
    padding: 0;  
    margin: 0; 
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-weight: 100;
}  
body{
    min-width: 235px;
} 

/* HOME PAGE */
/* Banner */  
#banner-container{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;   
    color: #fff; 
    z-index: 0;  
    background-color: var(--primary-color); 
    font-size: 1.2rem;
    font-weight: 100; 
    z-index: 1;
}
.banner-wrap{
    background: url(/imgs/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg) no-repeat center center/cover;
    z-index: 0;
}   
/* Banner end */
/* HOME PAGE END */ 

/* ABOUT PAGE */ 
.about-item{
    padding: 1rem 0; 
    font-weight: 600;
}

.about-body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #FFF7e7;
    font-size: 1.1rem; 
    line-height: 2.5rem; 
} 
.about-wrap{
    margin-top: 4rem;
    display: flex; 
    flex-direction: column;
    width: 90%; 
    /* background-color: darkcyan;     */
}
#about-header{
    align-self: center;
}
/* ABOUT PAGE END */ 

/* PORTFOLIO PAGE */ 

/* PORTFOLIO PAGE END */


/* FOOTER */ 
footer{
    height: 15vh;
    /* background-color: rgba(41, 34, 27, .65);    */
    /* background: #c68225; */ 
    /* background: rgb(133, 84, 69);  */ 
    background: #473522;
    color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;

} 
.footer-link-container{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
} 
.footer-links{
    display: flex; 
    
    /* background: red;   */
} 
.link-item{
    margin: 1rem;
    color: white;
}
.footer-social{
    /* display: flex;  */
    flex-direction: row;
}


/* FOOTER END */
/* Universal styling end */

