/* universal styling */
:root{
    --primary-color: rgba(41, 34, 27, .65); 
}

*{
    text-decoration: none; 
    list-style: none;
    padding: 0;  
    margin: 0; 
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-weight: 100;
}  
body{
    min-width: 235px;
} 
/* MOBILE FIRST SECTION */

/* HOME PAGE */
/* Banner */  
#banner-container{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;   
    color: #fff; 
    z-index: 0;  
    background-color: var(--primary-color); 
    font-size: 1.2rem;
    font-weight: 100; 
    z-index: 1;
}
.banner-wrap{
    background: url(/imgs/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg) no-repeat center center/cover;
    z-index: 0;
}   
/* Banner end */
/* HOME PAGE END */ 

/* ABOUT PAGE */ 
.about-item{
    padding: 1rem 0; 
    font-weight: 600;
}

.about-body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #FFF7e7;
    font-size: 1.1rem; 
    line-height: 2.5rem; 
    padding-bottom: 15vh;
} 
.about-wrap{
    margin-top: 4rem;
    display: flex; 
    flex-direction: column;
    width: 90%; 
}
#about-header{
    align-self: center;
}
/* ABOUT PAGE END */ 

/* PORTFOLIO PAGE */ 

/* PORTFOLIO PAGE END */

/* FOOTER */ 
footer{
    height: 15vh;
    background: #473522;
    color: #fff;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
} 

.footer-links{
    display: flex; 
} 
.link-item{
    margin: 1rem;
    color: white;
}
.footer-social{
    flex-direction: row;
}
/* FOOTER END */
/* MOBILE FIRST SECTION  END*/ 


/* MEDIA QUERIES */ 
/* HOME */ 
/* HOME END */ 

/* PORTFOLIO  */ 
/* PORTFOLIO END */ 

/* ABOUT */ 
/* ABOUT END */ 

/* SERVICES */ 
/* SERVICES END */ 

/* CONTACT */ 
/* CONTACT END */

/* Universal styling END */ 



