/* universal styling */
:root{
    --primary-color: rgba(41, 34, 27, .65); 
    --Dark-br: #29221b;
    --Light-bg: #FFF7e7; 
    --Text-clr: #fff;
    --Vannil-bg: rgb(255, 241, 195);  
    --shadow-drk: 5px 5px 5px #888888; 
    --random-blue: 086788
}   

*{
    text-decoration: none; 
    list-style: none;
    padding: 0;  
    margin: 0; 
    font-family: 'Catamaran', Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body{
    width: 100vw;
} 
/* MOBILE FIRST SECTION */

/* HOME PAGE */
/* Banner */  
#banner-container{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;   
    color: var(--Text-clr);
    z-index: 0;  
    background-color: var(--primary-color); 
    font-size: 1.2rem;
    font-weight: 100; 
    z-index: 1;
}
.banner-wrap{
    background: url(/imgs/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg) no-repeat center center/cover;
    z-index: 0;
}   
/* Banner end */
/* HOME PAGE END */ 

/* ABOUT PAGE */ 
.about-item{
    padding: 1rem 0; 
    font-weight: 600;
} 
.about-item h1{
    font-weight: 400;
}
.about-body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--Light-bg);
    font-size: 1.1rem; 
    line-height: 2.5rem; 
    padding-bottom: 15vh;
} 
.about-wrap{
    margin-top: 4rem;
    display: flex; 
    flex-direction: column;
    width: 90%; 
}
#about-header{
    align-self: center;
} 
#about-header h1{
    font-size: 3.0rem;
}
/* ABOUT PAGE END */ 

/* SERVICES */
#services-body{
    width: 100%;
}
.services-wrap{
    width: 100%;
    background: rgb(219, 218, 218); 
    ;
}

.services-header-wrap{
    display: flex; 
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
    height: 30vh;
    width: 100%; 
    background: var(--Dark-br);
    color: var(--Text-clr); 
    font-size: 1.5rem; 
    line-height: 3em;
}  

.services-header-wrap p{
    color: gray;
}


.services-main-body-wrap{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background: var(--Light-bg);   
    width: 100%; 
}

.services-item-wrap{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background: var(--Vannil-bg);
    box-shadow: var(--shadow-drk);
    width: 75%; 
    margin-top: 2rem;
    margin-bottom: 2rem; 
    padding: 2rem;
    border-radius: 5%;
    border-top: 2px solid var(--Dark-br);
}

.services-text-wrap h1{
    font-weight: 500;
} 
.services-text-wrap h3{
    font-weight: 400;
    margin: 1rem;
}

.services-text-wrap p{
    line-height: 1.4rem;
    font-size: 1.1rem;
}
.services-text-wrap{
    margin-top: 1rem;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.contact-link-wrap{    
    font-size: 1.4rem; 
    color: grey;
    margin-left: 1rem;
    padding: 1rem;
}

.contact-text-disc{
    width: 100%;
    text-align: center;
} 

.contact-button-wrapper{    
 width: 96%;  
}  

#services-submit-btn{
    color: var(--primary-color); 
    background: var(--Vannil-bg);
    border: 2px solid var(--Dark-br);
} 
#services-submit-btn a{
    color: var(--Dark-br);
} 

#services-submit-btn:hover{
    background: var(--Dark-br); 
    border: 2px solid var(--Vannil-bg);
} 
#services-submit-btn a:hover{
    color: var(--Text-clr);
}
a{
    color: var(--Text-clr);
}


/* SERVICES END */

/* CONTACT PAGE */ 
.contact-body-wrap{
    display: flex; 
    justify-content: center; 
    background: url(/imgs/caspar-camille-rubin-fPkvU7RDmCo-unsplash.jpg) no-repeat center center/cover;
    z-index: 0;
    
}
.contact-body{
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1.5rem;

    background-color: var(--primary-color); 
}
.contact-forms-container-wrap{
    display: flex; 
    border-radius: 1.2rem;
    margin-top: 1.5rem;
    height: 80%;
    width: 80%;
    padding: 1.2rem;
    background: var(--Light-bg);
}
#contact-disc p{
    font-size: 1.1rem;
}
#form-header-wrap p{
    font-weight: 600;
}
.contact-forms{
    width: 100%;
    height: 100%;
}

.contact-forms input,textarea{
    font-size:1.1em;
    padding: .2rem;
}
.form-wrap{
    display: flex; 
    flex-direction: column;
    margin: 1rem;  

}  
textarea{
    resize: none;
}
#accept-wrap{
    display: flex;
    flex-direction: row; 
    align-items: center; 
}
#accept-wrap input{
    margin: 0  1rem 0 0; 

}

#submit-wrap{
    width: 5rem;
    
}

.submit-btn{
    background: var(--Dark-br); 
    color: var(--Light-bg);
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
}
.submit-btn:hover{
    background-color: rgb(53, 44, 36); 
}
.required-field{
    color: red;
}

/* CONTACT PAGE END */

/* FOOTER */ 
footer{
    height: 15vh;
    background: var(--Dark-br);
    color: var(--Text-clr);
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center; 
    padding: 2rem 0;
    border-top: 1px solid white;

} 
.footer-links{
    display: flex; 
} 
.link-item{
    margin: 1rem;
    color: white;
}
.footer-social{
    flex-direction: row; 
    margin: auto;
} 
small{
    color: white;
} 
.nav-footer{
    display: none;
}

/* FOOTER END */

/* MOBILE FIRST SECTION  END*/ 

/* MEDIA QUERIES */ 
@media screen and (min-width: 768px){

/* HOME */ 
/* HOME END */ 

/* PORTFOLIO  */ 
/* PORTFOLIO END */ 

/* ABOUT */ 
.about-wrap{
    width:50%;
}   
/* ABOUT END */ 

/* SERVICES */  

.services-item-wrap{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    padding: 3rem; 

}
.services-icon-wrap{
    height: 200%; 
}
.services-text-wrap{
    width: 50%;
} 
.services-text-wrap p, .services-text-wrap h3{
    font-size: 1.5rem;
}
/* SERVICES END */ 

/* CONTACT */ 
.contact-forms-container-wrap{
    width: 50%;
}
#submit-wrap{
    width: 15%; 
}
/* CONTACT END */ 

/* FOOTER */ 
.nav-footer{
    display: flex;
    width: 100%;
    justify-content: center 

} 
.nav-footer-item{
    margin:1rem;
}
.nav-footer{
    margin: 1rem;
}
/* FOOTER END */
};